/* PosCSS plugins tests */

/* postcss-flexbugs-fixes */
.foo { flex: 1; }
.bar { flex: 1 1; }
.foz { flex: 1 1 0; }
.baz { flex: 1 1 0px; }

/* postcss-will-change */
.foo {
    will-change: transform;
}

/* postcss-nested & autoprefixer */
.rule-test {
    flex: 1;

    .bingo {
        color: blue;
    }
}

/* postcss-calc */
h1 {
    font-size: calc(16px * 2);
    height: calc(100px - 2em);
    width: calc(2*var(--base-width));
    margin-bottom: calc(16px * 1.5);
}

/* postcss-simple-vars */
$dir:    top;
$blue:   #056ef0;
$column: 200px;

.menu_link {
  background: $blue;
  width: $column;
}
.menu {
  width: calc(4 * $column);
  margin-$(dir): 10px;
}

/* postcss-mixins */
@define-mixin icon $network, $color: blue {
  .icon.is-$(network) {
      color: $color;
      @mixin-content;
  }
  .icon.is-$(network):hover {
      color: white;
      background: $color;
  }
}

@mixin icon twitter {
  background: url(twt.png);
  background: blue;
}
@mixin icon youtube, red {
  background: url(youtube.png);
  background: blue;
}

/* postcss-rem */
.demo {
  font-size: rem-convert(24px); /* Simple */
  padding: rem-convert(5px 10px); /* Multiple values */
  margin: rem-convert(10px 0.5rem); /* Existing rem */
  border-bottom: rem-convert(1px solid black); /* Multiple mixed values */
  box-shadow: rem-convert(
    0 0 2px #ccc,
    inset 0 0 5px #eee
  ); /* Comma-separated values */
  text-shadow: rem-convert(1px 1px) #eee, rem-convert(-1px) 0 #eee; /* Alternate use */
}